{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card md-4 box-shadow">
                    <img class"card-img-top"
                        {# src="/media/{{ object.phot }}" #}
                        src="{{ object.phot|mymedia }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ object.name|title }}</p>
                        <span class="text-muted">
                            {% if object.birth_day %}
                                {{ object.birth_day }}
                            {% endif %}

                    </span>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary" href="{% url 'dogs:dog_update' object.pk %}">изменить</a>
                        <a class="btn btn-outline-danger float-right" href="{% url 'dogs:dog_delete' object.pk %}">удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
